body{
    width: 480px;
    }
  
  header {
  border: 2px black solid;
  width: 480px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  background-color: rgb(150, 73, 73);
}
  
  .b {
    width: 480px;
    height: 150px;
    text-align: center;
    line-height: 150px;
  }
  .c ,.d {
    width: 480px;
    height: 125px;
    text-align: center;
    line-height: 125px;
  }
  
  
  .e , .f ,.g ,.h {
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    float: left;
  }
  
  
  footer {
    border: 2px black solid;
    background-color: rgb(180, 89, 89);
    width: 480px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    float: left;
  }
  
  @media only screen and (min-width:768px){
    body{
      width: 960px;
      }
  
  header {
    width: 960px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: rgb(120, 200, 253);
  }
  .b {
    border: 2px black solid;
    width: 200px;
    height: 600px;
    text-align: center;
    line-height: 600px;
    background-color: rgb(95, 153, 90);
    float: left;
  }
  .c , .d {
    border: 2px black solid;
    width: 380px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color: rgba(188, 111, 233, 0.986);
    float: right;
  }
  .d {
  background-color: rgb(176, 63, 204);
  }
  
  .e , .f , .g , .h {
    border: 2px black solid;
    width: 190px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    float: left;
    background-color: rgb(152, 199, 76);
  }
  .f{
    background-color: rgb(156, 112, 22);
  }
  .g {
    background-color: rgb(27, 100, 122);
  }
  .h {
    background-color: rgb(211, 51, 51);
  }
  
  footer {
    width: 760px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: rgb(238, 52, 52);
    float: right;
  }
}