section div{
    border: 2px black solid;
}
.b{
    background-color: rgb(94, 197, 163);
}
.c{
    background-color: rgb(223, 85, 119);

}
.d{
    background-color: rgb(76, 65, 138);

}
.e{
    background-color: rgb(107, 218, 131);
}
.f{
    background-color: rgb(59, 69, 212);
}
.g{
    background-color: rgb(189, 81, 216);
}
.h{
    background-color: rgb(204, 218, 83);
}
